<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--	&lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
<!--    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--</head>-->

<!--<body>-->

<!--<nav th:replace="layouts :: navbar"></nav>-->
<!--	-->
<!--	<div class="container">-->
<!--		<form action="/api/products/add" th:object="${product}" method="POST">-->
<!--		-->
<!--		<input type="text" placeholder="Project Name" th:field="*{coinName}">-->
<!--		-->
<!--		<select th:field="${product.coinName}">-->
<!--			<option th:value="Ethereum"> Ethereum</option>-->
<!--			<option th:value="Bitcoin"> Bitcoin</option>-->
<!--			<option th:value="Hex"> Hex</option>-->
<!--		</select>-->
<!--		-->
<!--		<textarea type="text" placeholder="Enter Project Description" th:field="${product.coinDescription}"></textarea>-->
<!--		-->
<!--		<button type="submit">Create Project</button>-->
<!--		-->
<!--		</form>-->
<!--	</div>-->
<!--	-->
<!--</body>-->

<!--</html>-->