<div class="menu">
  <footer>
  <p>i3-earth NFT Marketplace 
    &copy; {{ copyright }} &nbsp;
,
    <a title="github" href="#" target="_blank">
      <i class="fa fa-github"></i>
    </a>&nbsp;  &nbsp;


    <a title="twitter" href="#" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>&nbsp;   &nbsp;


    <a
      title="facebook"
      href="#"
      target="_blank"
    >
      <i class="fa fa-facebook"></i>
    </a>&nbsp;  &nbsp;


    <a
      title="linkedin"
      href="#"
      target="_blank"
    >
      <i class="fa fa-linkedin"></i>
    </a>

  </p>
</footer>
</div>
