<div class="menu">
  <mat-toolbar color="primary">
    <div fxHide.gt-sm>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-toolbar class="logo-box" routerLink="/">
      <img class="logo" alt="DailyTech Logo" src="assets/groot.png" />
    </mat-toolbar>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs id="menu-list">
      <a mat-list-item routerLink="/nfts" routerLinkActive="active" class="nav-link daily-tech monoton">nfts</a>
    
      <a mat-list-item routerLink="/chains" routerLinkActive="active" class="nav-link daily-tech monoton">chains</a>
 

      <a mat-list-item [routerLink]="['/users',authStore.getEmailId()]" routerLinkActive="active"
        *ngIf="authStore.isLoggedIn$ | async" class="nav-link daily-tech monoton">account</a>

        <!--*ngIf="((authStore.isLoggedIn$ | async) || (adminAuth.isAdminLoggedIn$ | async))"-->
      <a mat-list-item routerLink="/search-addresses" routerLinkActive="active" 
        class="nav-link daily-tech monoton">search</a>
      <hr />
      <a mat-list-item routerLink="/users"   routerLinkActive="active"
      class="nav-link daily-tech monoton">users</a>

      <a mat-list-item routerLink="/admin/users" [ngClass]="{'nopointer':(this.adminAuth.isAdminLoggedOut$ |async)}"
        *ngIf="adminAuth.isAdminLoggedIn$ | async" routerLinkActive="active"
        class="nav-link daily-tech monoton">admin</a>
      <!-- <a mat-list-item routerLink="/servers"      routerLinkActive="active" class="nav-link daily-tech monoton">servers</a> -->

      <!-- <a mat-list-item routerLink="/news" class="nav-link daily-tech monoton">NEWS</a>  -->

      <a mat-list-item routerLink="/login"
        *ngIf="!((authStore.isLoggedIn$ | async) || (adminAuth.isAdminLoggedIn$ | async))" routerLinkActive="active"
        class="nav-link daily-tech monoton">login</a>

      <a mat-list-item *ngIf="((authStore.isLoggedIn$ | async) || (adminAuth.isAdminLoggedIn$ | async))"
        (click)="logout()" title="LOGOUT" routerLinkActive="active" class="logout nav-link daily-tech monoton">
        <mat-icon>exit_to_app</mat-icon></a>

    </div>
  </mat-toolbar>
</div>