

<div class="container-panel">
  <h3>All Chains</h3>

  <mat-tab-group>
      <mat-tab label="Add Chains">

        <mat-card>
            <section> 
              <app-nft-add>
                <!-- NFT-ADD -->
              </app-nft-add>
            </section> 
      </mat-card>
          
      <div class="nfts">
            <section>
              <div fxLayout="row" fxLayoutAlign="center center" *ngIf="nftData">
                <!-- CHAINDATA -->
                <app-chaindata [nftData]="nftData"></app-chaindata>
              </div>
            </section>  
        <app-loader></app-loader>
          <section>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1px" *ngIf="nfts">
              <!-- NFT -->
              <app-nft *ngFor="let nft of nftData.nfts" [inputNft]="nft" [nftData]="nftData"></app-nft>
        
            </div>
          </section>
        </div>

      </mat-tab>

      <mat-tab label="View All">
        
        <app-nft-card-list   [addresses]="nftData">  

        </app-nft-card-list>
        <!-- <mat-card>
          <section> 
            <app-nft-add>
            </app-nft-add>
          </section> 
    </mat-card> -->
        
    <!-- <div class="nfts">
          <section>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="nftData">
              <app-chaindata [nftData]="nftData"></app-chaindata>
            </div>
          </section>  
      <app-loader></app-loader>
        <section>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1px" *ngIf="nfts">
            <app-nft *ngFor="let nft of nftData.nfts" [inputNft]="nft" [nftData]="nftData"></app-nft>
      
          </div>
        </section>
      </div> -->

      </mat-tab>

  <mat-tab label="Search">

      <!-- <app-chains-card-list [chains]="polygonChains$ | async">

      </app-chains-card-list> -->


  </mat-tab>

</mat-tab-group>


</div>>