<section id="search" class="search-wrap">
    <h1>Crypto Maven</h1>
    <form action="/gigs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Bitcoin, Ethereum & non-ERC20 Tokens">
      <input type="submit" value="Search">
    </form>
  </section>