 <!DOCTYPE html>
<html lang="en">

<head>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous"> --}}


    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display"
      rel="stylesheet"
    />

    <title>CryptoMaven</title>
    <meta charset="UTF-8" />
    <!--style overwrites bootstrap-->
    <link rel="stylesheet" href="styles.css" />
 
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="src/rxjs.5.4.3.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.4.3/Rx.js"></script> -->


    <script src="src/d3.v4.min.js"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

    <!-- <script src="node_modules/jsdom/lib/api.js"></script> -->
    
</head>

<body>
  <header class="inner">
    <h2><a href="/"><i class="fas fa-code"></i>
        CryptoMaven</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">CryptoMaven</a>
        </li>
        <li>
          <a href="/crypto">Crypto</a>
        </li>
        {{!-- <li>
          <a href="/crypto/add">Add Token <Source:media></Source:media></a>
        </li>    --}}
      </ul>
    </nav>
  </header>

  <div class="container"  id="body">
    {{{body}}}
  </div>
</body>

</html>