<h3>NFT_DIALOG</h3>
<h3 mat-dialog-title>{{address.address | slice:-10:-1}}</h3>

<app-loader></app-loader>
<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input matInput placeholder="address chain " formControlName="chain">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="address email" formControlName="owner">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="address address" formControlName="address">
    </mat-form-field>

</mat-dialog-content>


<mat-dialog-actions>

    <button mat-raised-button  class="mat-elevation-z8"  (click)="close()"> 
        Close
    </button>

    <button mat-raised-button   class="mat-elevation-z8"  color="primary" #saveButton (click)="save()">
        Save
    </button>

</mat-dialog-actions>