/* CSS VARS */
:root {
  --main-theme-bgcolor: #d4e2eb;
  --primary-black-color: #000;
  --primary-white-color: #fff;
  --info-color: #90d4e8;
  --padding: 20px;

  --post-padding: 20px;
  --text-color:  rgb(25, 25, 25);
  --r: 255;
  --g:0;
  --b:0;
  --text-calcul: rgb(var(--r), var(--g), var(--b));
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
.disable {
  cursor: no-drop !important;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #7993d7, #4ddfee);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #7993d7, #4ddfee);
}

* {
  margin: 0%;
  padding: 0;
}
body {
  color: rgb(61, 58, 151);
  opacity: 0.9;
  overflow-x: hidden;
  background-color: var(--main-theme-bgcolor);
  max-width: 950px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
}

/*  FLEX single dimension --> cols/rows */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  GRID 2-dimension rows --> cols --->*/
.grid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 100px 200px;
  place-items: center;
}

/* article {
     width:50%;     }
     @media only screen and (max-width: 600px) {
       article { width:200px;   }
     }
     @media only screen and (min-width:1200px){
       article{ width:800px;   }
     } 
*/
article {
  width: clamp(200px, 50%, 800px);
}

strong {
  font-weight: bold;
}

p {
  margin: 10px 0;
                /* OVERRIDE  */
    --text-color: darkblue;
  color:var(--text-color); 
}
.dropdown {
  opacity:0;
  visibility: hidden;
}
button:focus-within .dropdown {
  opacity:1;
  visibility: visible;
}

ul {
  margin: 0%;
  padding: 0;
}
li {
  margin: 0%;
  padding: 0;
  list-style: none;
}

.menuItem {
}

.cursor {
  cursor: pointer;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.sky {
  color: skyblue;
}

.opaque {
  opacity: 0.8;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.customNav {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 25px #3f474b;
}
.customNav .nav-link {
  color: var(--primary-white-color);
  font-size: 15px;
  text-transform: capitalize;
  padding: 4px 15px !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  margin-right: 10px;
}
.customNav .nav-link:hover {
  background-color: #cac5f5;
  border-radius: 50px;
  color: #000;
}
.nav-item .active {
  margin-right: 10px;
  font-size: 15px;
  text-transform: capitalize;
  background-color: #cac5f5;
  border-radius: 50px;
  color: var(--primary-black-color) !important;
  padding: 4px 15px !important;
}
.loginBtn {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 2px solid #cac5f5;
  padding: 2px 20px 5px 20px !important;
  margin: 10px;
  color: var(--primary-white-color);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.loginBtn:hover {
  background-color: #cac5f5;
  color: var(--primary-black-color);
  text-decoration: none;
}
.location {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #717171;
  text-transform: capitalize;
}
.location b {
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
}
.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.userImg img {
  max-width: 100%;
}
.readingBtn {
  padding: 5px 20px;
  background: none;
  border: 2px solid var(--info-color);
  border-radius: 50px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  font-weight: 500;
}
.readingBtn:hover {
  background-color: var(--info-color);
  font-weight: 500;
}
.readingBtn a {
  text-decoration: none;
  color: var(--primary-black-color);
}

.tags {
  border: 2px solid var(--primary-black-color);
  padding: 2px 10px;
  background: none;
  border-radius: 6px;
  font-weight: 500;
}
.tagsTopic {
  background-color: var(--primary-black-color);
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--primary-white-color);
  width: 100%;
}

.navbarTogglerIcon i {
  color: var(--primary-white-color);
}
.userRegistration {
  background-color: var(--primary-white-color);
  padding: var(--padding);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.regiFormHeading {
  font-size: 26px;
  color: #3ab6db;
  border-bottom: 2px solid #3abfe7;
  padding-bottom: 6px;
  border-width: medium;
}
.required {
  color: red;
}
.userRegiForm {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.btnCustom {
  background: none;
  border: 2px solid var(--info-color);
  border-radius: 50px;
  padding: 5px 25px;
  font-weight: 500;
  margin-top: 20px;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
  width: 100%;
}
.btnCustom:hover {
  background-color: var(--info-color);
}
.loginText {
  font-size: 15px;
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
.formErrorAlert {
  color: red;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 0;
}
.btnLoading {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 17px;
}
.spinnerBorder {
  width: 1.5rem;
  height: 1.5rem;
}

.aboutUs {
  background-color: var(--primary-white-color);
  border-radius: 10px;
  padding: 20px;
}
.aboutUs img {
  width: 100%;
}
.contactDetails li {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
}
.contactDetails li i {
  margin-right: 10px;
  color: #e03e58;
  font-size: 20px;
}
.redError {
  color: #e03e58;
  font-size: 15px;
  font-weight: 600;
}
.headingTitle {
  text-transform: capitalize;
  font-size: 25px;
}
.headingTitle:focus {
  box-shadow: none;
}

.loading {
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}
.rdw-dropdown-selectedtext:hover {
  text-decoration: none;
  color: var(--primary-black-color);
}
.rdw-dropdown-selectedtext {
  color: var(--primary-black-color);
}
.rdw-editor-main {
  border: 1px solid #ccc;
  height: 200px !important;
}
.navbar {
  background: none;
}
.rdw-link-modal {
  height: auto !important;
}
.rdw-link-modal-btn {
  background: #cac5f5 !important;
}
.socialMedia li {
  display: inline-block;
  margin-right: 10px;
}
.socialMedia li a {
  font-size: 25px;
  background-color: #343a40;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.socialMedia li a i {
  margin-right: 0;
}
.socialMedia li a:hover {
  background: none;
  border: 1px solid #000;
}
.socialMedia li a:hover i {
  color: #000;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 300px;
  overflow-y: scroll !important;
}
.postNow .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 150px;
}
.nav > li > a {
  position: relative;
  display: block;
  margin-right: 10px;
}
.loadingImg {
  width: 10%;
}
.loadingDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.loadingDiv h2 {
  font-size: 20px;
  font-weight: 700;
}
.logo {
  width: 25%;
}
.mobileNav {
  display: none;
}
.mobileCateNone {
  display: none;
}
.mobileCategories {
  display: none;
}
/* MOBILE TOGGLE                           */
.mobileToggle {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  display: none;
}
.mobileToggle i {
  font-size: 25px;
}
.submenu {
  display: none;
  position: absolute;
  top: 45px;
  background: #343a40;
  padding: 5px 20px;
  left: 0;
}
.dropdownLi:hover .submenu {
  display: block;
}
.user {
  width: 25%;
}

.dropdownLi i {
  color: #fff;
  font-size: 30px;
  margin-top: 13px;
  cursor: pointer;
}
.submenu li {
  display: block;
}
.submenu li a {
  display: block;
  color: #fff;
  padding: 5px 0px;
  text-decoration: none;
}
.newsSidebar {
  overflow-y: scroll;
  height: 500px;
}
.item {
  height: auto;
  background: none;
  padding: 0 10px;
  width: auto;
  line-height: 2;
  border: none;
}
.mostView {
  width: calc(25% - 15px);
  margin-right: 15px;
}
.mostScroll {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
/* MOBILE VIEW */
.mobileView {
  display: none;
}
.sideDrawer {
  display: none;
}
.mobileLogout {
  display: none;
}
.toggleDesk {
  display: none;
}
.desktop {
  display: none;
}

/* Sidebar Cat3 RUBRICS -     */

.sidebar {
  background-color: var(--primary-white-color);
  padding: var(--padding);
  border-radius: 6px;
  min-height:600px;
  box-shadow: 0px 0px 25px #afbbc2;
}

.mobileCategoriesActive .sidebar {
  padding: 5px;
}
.mobileCategoriesActive .categoriesList a {
  font-size: 12px;
} 

.categoriesList {
  display: block;
}
.categoriesList a {
  color: var(--primary-black-color);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  border-bottom: 1px solid var(--primary-black-color);
  padding: 10px 0px;
  /* font-family: "OptimusPrinceps", sans-serif; */
  font-family: "OptimusPrincepsSemiBold", sans-serif;
}
.categoriesList a:hover {
  background-color: #90d4e8;
  padding: 10px 0px 10px 15px;
  /* border-radius: 5px; */
}
.sidebar ul .categoriesList:last-child a {
  border-bottom: none;
}